MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=dolidb
MYSQL_USER=dolidbuser
MYSQL_PASSWORD=change_me_db_password

DOLI_INIT_DEMO=0
DOLI_DB_HOST=mariadb
DOLI_DB_NAME=dolidb
DOLI_DB_USER=dolidbuser
DOLI_DB_PASSWORD=change_me_db_password
DOLI_URL_ROOT=http://localhost
DOLI_ADMIN_LOGIN=change_me_admin_login
DOLI_ADMIN_PASSWORD=change_me_admin_password
DOLI_CRON=0
DOLI_CRON_KEY=change_me_cron_key
DOLI_COMPANY_NAME=MyCompany
WWW_USER_ID=1000
WWW_GROUP_ID=1000
