{
        email {env.ADMIN_EMAIL}
}

(tls_config) {
        tls {
                dns cloudflare {
                        api_token {env.CF_API_TOKEN}
                }
        }
}

(common_proxy_headers) {
        header_up Host {http.request.host}
}

*.home.gatanasios.com {
        import tls_config

        @wg-easy host wg-easy.home.gatanasios.com
        handle @wg-easy {
                reverse_proxy http://10.10.10.250:51821 {
                        import common_proxy_headers
                }
        }

        @video-converter host video-converter.home.gatanasios.com
        handle @video-converter {
                reverse_proxy http://video-converter.vm:3000 {
                        import common_proxy_headers
                }
        }

        @rancher host rancher.home.gatanasios.com
        handle @rancher {
                reverse_proxy https://10.10.10.12 {
                        import common_proxy_headers

                        transport http {
                                tls_insecure_skip_verify
                        }
                }
        }

        @speed host speed.home.gatanasios.com
        handle @speed {
                reverse_proxy https://openspeedtest.vm {
                        import common_proxy_headers

                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                        request_buffers 35mib
                        response_buffers 35mib
                        flush_interval -1
                }
        }

        handle {
                respond "Not Found" 404
        }
}