CERTBOT_DOMAIN=speed.yourdomain.com
CERTBOT_EMAIL=YOUR_EMAIL@example.com
CLOUDFLARE_API_TOKEN=YOUR_CLOUDFLARE_API_TOKEN_GOES_HERE
HOST_CERT_PATH=/home/speed/certs
HOST_CERTBOT_DATA=/home/speed/certbot_data